.margin-tb-small {
  margin-top: $margin-small;
  margin-bottom: $margin-small;
}
.margin-lr-small {
  margin-left: $margin-small;
  margin-right: $margin-small;
}

.margin-top-xlarge {
  margin-top: $margin-xlarge;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}