.navbar {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: $color-primary-0;
    height: 60px;
    top: 0;

    .navbar-logo {
        float: left;
        
        img {
            height: 60px;
        }
    }

    .navbar-nav {
        float: right;

        > li {
            float: left;
            list-style: none;

            > a {
                display: block;
                padding: 20px 22.5px;
                height: 60px;
                color: #fff;

                &:hover {
                    background-color: $color-primary-2;
                    text-decoration: none;
                }
            }
        }
    }
}

.main-content {
    margin-top: 100px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
