.answer-form {
  border-top: 3px dashed $color-body-lighter;
  border-bottom: 3px dashed $color-body-lighter;
  padding: $padding-medium 0;
}

.answer {
  margin-top: $margin-small;
  margin-bottom: $margin-small;
  padding: $padding-medium 0;
  border-left: 3px solid $color-primary-2;
  overflow: hidden;

  .answer-creator {
    border-right: 2px solid $color-primary-1;
    text-align: center;
    height: 100%;
    padding-bottom: 1000px;
    margin-bottom: -1000px;

    .answer-creator-avatar {
      img {
        border-radius: 100%;
      }
    }
  }

  .answer-body {
    margin-bottom: $margin-medium;
  }

  .comment-list {
    .comment {
      font-size: 13px;
      margin: $margin-small 0;

      .comment-creator {
        .comment-creator-avatar {
          text-align: center;

          img {
            border-radius: 100%;
          }
        }
      }

      .comment-date {
        color: $color-body-light;
        float: right;
      }
    }
  }
}