input:not([type="submit"]) {
  width: 100%;
  border: 0;
  border-bottom: 1px solid $color-body-light;
  padding: 10px 5px;
  outline: none;
}

textarea {
  border: 1px solid $color-body-lighter;
  width: 100%;
  padding: 10px 5px;
  outline: none;
}